<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reach Out Student Mental Health Support</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
        crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" />

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#usersTable').DataTable();
            $('#feedbacksTable').DataTable();
        });
    </script>
</head>

<body>
    <div class="header_section">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href=".">
                    <h2><b>Reach Out</b></h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i> Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="user">Profile</a></li>
                                <li><a class="dropdown-item" href="admin">Admin Panel</a></li>
                                <li><a class="dropdown-item" href=".">Home</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid bg-white">
        <div class="row">
            <div class="col-md-3 sidebar" style="background-color: #f8f9fa;">
                <h4 class="my-4">Admin Panel</h4>
                <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab"
                            aria-controls="users" aria-selected="true">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="feedbacks-tab" data-toggle="tab" href="#feedbacks" role="tab"
                            aria-controls="feedbacks" aria-selected="false">Feedbacks</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                        <h4 class="my-4">Users</h4>
                        <div class="card">
                            <div class="card-body">
                                <table border="1" id="usersTable" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.age }}</td>
                                            <td>{{ user.gender }}</td>
                                            <td>
                                                <div class="form-check form-switch">
                                                    <input type="checkbox" class="form-check-input" role="switch"
                                                        data-user-id="{{ user._id }}" {% if not user.is_enabled
                                                        %}checked{% endif %} />
                                                </div>
                                                <label class="form-check-label">{% if user.is_enabled %}Enabled{% else
                                                    %}Disabled{% endif %}</label>

                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('.form-check-input').change(function () {
                                var userId = $(this).data('user-id');
                                var isEnabled = $(this).is(':checked');

                                $.ajax({
                                    url: '/update_user_status',
                                    type: 'POST',
                                    data: {
                                        user_id: userId,
                                        is_enabled: isEnabled
                                    },
                                    success: function (response) {
                                        alert(response.message);
                                        location.reload();
                                    },
                                    error: function (xhr, status, error) {
                                        alert('An error occurred: ' + error);
                                    }
                                });
                            });
                        });
                    </script>
                    <div class="tab-pane fade" id="feedbacks" role="tabpanel" aria-labelledby="feedbacks-tab">
                        <h4 class="my-4">Feedbacks</h4>
                        <div class="card">
                            <div class="card-body">
                                <table border="1" id="feedbacksTable" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Rating</th>
                                            <th>Feedback</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for feedback in feedbacks %}
                                        <tr>
                                            <td>{{ feedback.name }}</td>
                                            <td>{{ feedback.email }}</td>
                                            <td>{{ feedback.rating }}</td>
                                            <td>{{ feedback.feedback }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer section start -->
    <div class="footer_section layout_padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h1 class="adderss_text">Contact Us</h1>
                    <div class="map_icon"><img src="{{ url_for('static', filename='images/map-icon.png') }}"><span
                            class="paddlin_left_0">University Campus, Main Rd.</span></div>
                    <div class="map_icon"><img src="{{ url_for('static', filename='images/call-icon.png') }}"><span
                            class="paddlin_left_0">+1 (555) 123-4567</span></div>
                    <div class="map_icon"><img src="{{ url_for('static', filename='images/mail-icon.png') }}"><span
                            class="paddlin_left_0">support@Reach Out.edu</span></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="adderss_text">Resources</h1>
                    <div class="hiphop_text_1">Explore our comprehensive collection of mental health resources,
                        including articles, videos, and self-care activities designed to support your well-being.
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="adderss_text">Useful Links</h1>
                    <div class="Useful_text">
                        <ul>
                            <li><a href="#" style="color:white!important">About Us</a></li>
                            <li><a href="#" style="color:white!important">Join Now</a></li>
                            <li><a href="#" style="color:white!important">Privacy Policy</a></li>
                            <li><a href="#" style="color:white!important">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="adderss_text">Newsletter</h1>
                    <input type="text" class="Enter_text" placeholder="Enter your Email" name="Enter your Email">
                    <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="{{ url_for('static', filename='images/fb-icon.png') }}"></a>
                            </li>
                            <li><a href="#"><img src="{{ url_for('static', filename='images/twitter-icon.png') }}"></a>
                            </li>
                            <li><a href="#"><img src="{{ url_for('static', filename='images/linkedin-icon.png') }}"></a>
                            </li>
                            <li><a href="#"><img
                                        src="{{ url_for('static', filename='images/instagram-icon.png') }}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->

    <script>
        $(function () {
            $('#myTab a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
</body>

</html>